[tool.poetry]
name = "injected"
version = "0.0.0"
description = "Another Python Dependency injector framework."
authors = ["Zac Scott <zac.scott11@gmail.com>"]
license = "BSD-3"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"


[tool.poetry.group.dev.dependencies]
pytest = "^8.2.1"
pre-commit = "^3.7.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
